:host {
  display: block; // Esto es crucial para que el componente sea un bloque y ocupe su propio espacio
}

.search-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  background: #2a2a2a; // Fondo gris oscuro
  border-radius: 8px;
  padding: 0.75rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra sutil para profundidad
  border: 1px solid #3c3c3c; // Borde más claro para definir el contorno

  input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #f1f1f1; // Texto blanco
    font-size: 1rem;
    padding-right: 0.5rem; // Espacio entre el texto y el ícono

    &::placeholder {
      color: #a9a9a9; // Color del placeholder
    }
  }

  svg {
    color: #a9a9a9; // Color del ícono de búsqueda
    width: 20px;
    height: 20px;
  }
}

.results-list {
  background: #2a2a2a;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #3c3c3c;
  
  &:last-child {
    border-bottom: none;
  }
}

.task-text {
  flex-grow: 1;
  color: #f1f1f1;
}

.task-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  margin-right: 1rem;
}

.task-status {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff; // Color para tareas pendientes

  &.completed {
    color: #4caf50; // Color para tareas completadas
  }
}

.no-results {
  text-align: center;
  color: #a9a9a9;
  padding: 1rem;
}
