:host {
  display: block;
}

.search-tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  background: #2a2a2a;
  border-radius: 8px;
  padding: 0.70rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #3c3c3c;

  input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #f1f1f1;
    font-size: 1rem;
    padding-right: 0.5rem;

    &::placeholder {
      color: #a9a9a9;
    }
  }

  svg {
    color: #a9a9a9;
    width: 20px;
    height: 20px;
  }
}
.contenedor-padre {
    /* Define el contenedor como un flex container */
    display: flex;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente (si es necesario) */
    align-items: center;
    /* Asegúrate de que tenga un alto para centrar verticalmente */
    height: 100vh; /* Ejemplo: 100% de la altura del viewport */
}


.results-list {
  background: #2a2a2a;
  border-radius: 15px;
  padding: 0.9rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #3c3c3c;

  &:last-child {
    border-bottom: none;
  }
}

.task-text {
  flex-grow: 1;
  color: #f1f1f1;
}

.task-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  margin-right: 1rem;
}

.task-status {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;

  &.completed {
    color: #4caf50;
  }
}

.no-results {
  text-align: center;
  color: #a9a9a9;
  padding: 1rem;
}