<div class="search-tasks-container">
    <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <!-- El input está enlazado a la propiedad 'searchTerm' y llama a 'onSearch' en cada entrada -->
        <input 
            type="text" 
            placeholder="Buscar tarea..." 
            [(ngModel)]="searchTerm" 
            (input)="onSearch()"
        />
        <i class="fas fa-microphone mic-icon"></i>
    </div>

    <!-- La lista de resultados solo se muestra si el término de búsqueda no está vacío y hay resultados -->
    <div *ngIf="searchTerm && filteredTasks.length > 0" class="search-results">
        <div *ngFor="let task of filteredTasks" class="task-item">
            <div class="task-info">
                <input 
                    type="checkbox" 
                    [id]="'task-' + task.id" 
                    [(ngModel)]="task.completed"
                    (change)="onTaskCompletionChange(task)"
                />
                <label 
                    [for]="'task-' + task.id" 
                    class="task-name" 
                    [class.completed]="task.completed"
                >
                    {{ task.name }}
                </label>
            </div>
        </div>
    </div>
    
    <!-- Mensaje para cuando no se encuentran resultados -->
    <div *ngIf="searchTerm && filteredTasks.length === 0" class="no-results">
      No se encontraron tareas que coincidan con la búsqueda.
    </div>
</div>
