<div class="tabs-container">
    <router-outlet></router-outlet>

    <div class="tab-items-wrapper">

        <a routerLink="/tabs/home" routerLinkActive="active" class="tab-item">
            <i class="fas fa-home tab-icon"></i>
            <span class="tab-label">Home</span>
        </a>


        <a routerLink="/tabs/habits" routerLinkActive="active" class="tab-item">
            <i class="fas fa-tasks tab-icon"></i>
            <span class="tab-label">Habits</span>
        </a>



        <a routerLink="/tabs/projects" routerLinkActive="active" class="tab-item">
            <i class="fas fa-project-diagram tab-icon"></i>
            <span class="tab-label">Projects</span>
        </a>


      
    </div>
</div>