ion-tabs {
  background: #121212;
  position: fixed;
  border-top: 1px solid #333333;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
}


.tab-items-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  max-width: 600px;
  margin: 0 auto;
}



.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #a9a9a9;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  flex: 1;
  padding: 5px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.tab-icon {
  font-size: 1.2rem;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}


.tab-label {
  display: block;
}


.tab-item.active {
  color: #a000fe;
}

.tab-item.active .tab-icon {
  transform: translateY(-2px);
}

.logout-item.active,
.logout-item:hover {
  color: #ff5252;
}


.tab-item:not(.active):hover {
  color: #d1d1d1;
}

.tab-item:not(.active):hover .tab-icon {
  transform: scale(1.1);
}

.logout-item {
  color: #ff5252;
}

@media (min-width: 768px) {
  .tabs-container {
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px 15px 0 0;
  }

  .tab-item {
    font-size: 0.8rem;
    height: 70px;
  }

  .tab-icon {
    font-size: 1.5rem;
  }
}

ion-tab-bar {
  --background: #1a1a1a;
  border-top: 1px solid #333333;
  padding-bottom: env(safe-area-inset-bottom);

  ion-tab-button {
    --color: #a9a9a9;
    --color-selected: #a000fe;


    &.logout-button {
      --color: #ff5252;
      --color-selected: #ff5252;
    }
  }
}