<div class="tabs-container">
    <router-outlet></router-outlet>
    
    <div class="tab-items-wrapper">
        <!-- Navegación para el Dashboard -->
        <a routerLink="/dashboard" routerLinkActive="active" class="tab-item">
            <i class="fas fa-home tab-icon"></i>
            <span class="tab-label">Home</span>
        </a>
        
        <!-- Navegación para las Tareas (Tasks) -->
        <a routerLink="/tasks" routerLinkActive="active" class="tab-item">
            <i class="fas fa-tasks tab-icon"></i>
            <span class="tab-label">Habits</span>
        </a>

        <!-- Nueva navegación para la Página de Proyectos -->
        <a routerLink="/projects" routerLinkActive="active" class="tab-item">
            <i class="fas fa-project-diagram tab-icon"></i> <!-- Icono de proyectos -->
            <span class="tab-label">Projects</span>
        </a>

        <!-- Botón para cerrar sesión -->
        <a (click)="logout()" class="tab-item logout-item">
            <i class="fas fa-sign-out-alt tab-icon"></i>
            <span class="tab-label">Logout</span>
        </a>
    </div>
</div>
