
ion-header {
  --background: #1e1e1e; 
  color: #000000; 
}


ion-title {
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}


ion-content {
  --background: #121212;
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 20px; 
}


app-todo-list-reusable {

  width: 100%;
  max-width: 600px; 
}


.todo-list-container {
  background: #2b2b2b; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
